html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* header and navigation section */
.nav li a {
  font-size: 1.1rem;
  font-weight: 700;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #399bd1;
  background-color: inherit;
}

/* jumbotron section */
.jumbotron.jumbotron-bike {
  background-image: url("../resources/images/jumbotron-bike.jpg");
}
