html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* header and navigation section */
.nav li a {
  font-size: 1.1rem;
  font-weight: 700;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #399bd1;
  background-color: inherit;
}

/* jumbotron section */
.jumbotron {
  padding: 11.85rem 0;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
}

.jumbotron.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}
